
@import url('https://fonts.googleapis.com/css2?family=Headland+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link-indicator{
    display: none;
}

*{
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

a.active .nav-link-indicator{
    display: block;
}
::-webkit-scrollbar{
    display: none;
}
@media (max-width: 640px) {
    a.active{
        background-color: black;
        color: white;
    }
}